.container {}

.form-wrap {
    margin: 20px auto 0;
    width: 100%;
    padding-top: 100px;

    .d-flex {
        align-items: center;
        justify-content: space-between;

        h2 {
            font-family: Garamond, serif;
            font-family: PoppinsMedium;
            color: #5A5E5A;
            color: white;
        }
    }

    h4 {
        color: #5E7289;
        font-size: 18px;
        font-family: PoppinsMedium;
        font-family: PoppinsRegular;
        color: #fff;
        font-size: 15px;
    }

    .tc {
        font-family: PoppinsRegular;
        font-size: 12px;
        color: #fff;
    }

    .form-section {
        padding: 40px 0 0 0;
        //background-image: url('./assets/images/bg-top.png');
        padding: 0;
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: -12px;

        label {
            font-family: PoppinsSemiBold;
            color: #5E7289;
            font-size: 14px;
            color: #fff;

            &.questions::after {
                content: '*';
            }
        }

        .form-group {
            margin-bottom: 10px;

            &:first-child {
                margin-top: 10px;
            }

            .form-control {
                width: 60%;
                box-shadow: none;
                outline: none;

                &.border-0 {
                    width: auto;
                    padding-left: 0;
                }
            }
        }

        .w-40 {
            width: 60%;
        }

        button {
            background: #2D64BD;
            font-family: PoppinsSemiBold;
            font-size: 14px;
            padding: 8px 20px;
            border-radius: 20px;
            float: right;
            margin-top: 5px;
            background: white;
            color: #1cbfd2;
            border: transparent;
        }

        .card {
            background: #F3F2EF;
            margin-bottom: 12px;

            label {
                color: black;
                color: #fff;
            }

            .form-check {
                label {
                    font-family: PoppinsRegular;
                }
            }
        }

        &.question-padding {
            padding: 125px 0 0 0;
        }

        .hstack {
            flex-wrap: wrap;

            .bg-light {
                cursor: pointer;
                background: white;
                font-family: PoppinsRegular;
                font-size: 14px;
                border-radius: 15px;
                padding: 4px 10px;

                &.active {
                    background: #2c64bde0 !important;
                    color: white;
                }
            }
        }
    }

    .loader {
        background-color: rgb(248 249 250 / 67%);
        height: 100%;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        top: 0;
    }

    @media screen and (max-width:768px) {
        h2 {
            font-size: 18px;
        }

        h4 {
            font-size: 15px;
        }

        img {
            width: 115px;
        }

        .form-section {
            .form-group {
                &:first-child {
                    margin-top: 0;
                }

                .form-control {
                    width: 100%;
                }
            }

            .w-40 {
                width: 100%;
            }

            &.question-padding {
                padding: 45px 0 0 0;
            }


        }

        .col-md-6 {
            img {
                width: 75%;
            }
        }

        .container {
            // background-color: red;
        }
    }



}